table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 9%;
  }
  .khachHang{
    width: 30%;
  }
  .company{
    width: 20%;
  }
  .contact{
    width: 20%;
  }
  .notes{
    width: 18%;
  }
  .hanhDong{
    width: 12%;
  }
  .bg-new{
    background-color: #2d51d4;
    color:#ffffff ;
    padding: 5px;
  }
  .bg-update{
    background-color: #ff8080;
    color:#ffffff ;
    padding: 5px;
  }

